{% extends "base.html" %}


{% block content %}


<form class="mui-form mui-container" action="/" method="post">
    <legend>Insert the title and description below</legend>
    <div class="mui-textfield">
        <input placeholder="Job title" name="title" rows="1"></input>
    </div>
    <div class="mui-textfield">
        <textarea placeholder="Job description" name="description" rows="12"></textarea>
    </div>
    <button type="submit" class="mui-btn mui-btn--raised">Submit</button>
</form>


{% endblock %}